################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyDotNetCoreProject/bin/Debug/netcoreapp3.1
/MyDotNetCoreProject/obj
